html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  font-family: var(--font-family--nunito);
  color: var(--black-87);
  font-size: 16px;
  line-height: 26px;

  background: var(--background-color);
}
