:root {
  --black-87: rgba(0, 0, 0, 0.87);
  --white: #fff;
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --background-color: #f8f8f8;
  --light-gray: #d0cfcf;
  --grey: #7e7e7e;
  --error: #cb3d40;
  --font-family--nunito: "Nunito", sans-serif;
}
