:root {
  --black-87: #000000de;
  --white: #fff;
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --background-color: #f8f8f8;
  --light-gray: #d0cfcf;
  --gray: #7e7e7e;
  --error: #cb3d40;
  --font-family--nunito: "Nunito", sans-serif;
}
